/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:rgba(0, 0, 0, 0.699);
    background-color: rgba(255, 182, 46, 0.719);
}

/* Encabezado */
/* header {
    
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.dropdown {
    background-color: #333;
}


.search-container {
    display: flex;
    align-items: center;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Cajas alrededor de elementos */
.movie-info {
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.movie-image img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.movie-details {
    flex: 1;
}

/* Estilos para el título */
h1 {
    color: gray;
    font-size: 24px;
    font-style: oblique;
    font-family: monospace;
    margin: 0;
}
h2{
    font-style: oblique;
    font-family: monospace;
    margin: 0;
    color: gray;
}

/* Estilos para los encabezados (h2) */
h3 {
    color: #333;
    border-bottom: 2px solid #ff5722;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

aside {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    /* float:left; */
}


#history-list {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 182, 46, 0.719);
}

.history {
    text-transform: capitalize;
    
}

.section {
    margin-left:15%;

}

/* Estilos para los spans con información */
span {
    font-weight: bold;
}

/* Enlaces */
a {
    color: #ff5722;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#img {
    display: none;}

#youtube-trailer{
display: grid;
}

iframe {
    border-radius: 8px;
    justify-self: center;
    box-shadow: 5px 5px 5px slategrey;
    margin-right: 15%;

}


@media screen and (max-width: 768px) {
    iframe {
        width: 75%;
        height:fit-content;
    }
}

p{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.history{
    font-weight: bold;
    color: gray;
}
.menu-text{
    font-size: xx-large;
    font-family: monospace;
    font-style: oblique;
}

.summary{
display: flex;
}
main{
    flex-basis: 80%
}
.top-bar, 
ul,
.card-divider,
.card-section{
    background: rgba(255, 182, 46, 0.719) !important;
}