
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:rgba(0, 0, 0, 0.699);
    background-color: rgba(255, 182, 46, 0.719);
}

#titleBar {
    margin-bottom: 10px;
}

#title-card {
    border: none;
}

.dropdown {
    background-color: #333;
}


.search-container {
    display: flex;
    align-items: center;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#opening-page {
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}

#opening-title {
    font-size: 50px;
}

.movie-info {
    display: flex;
    align-items: center;
    margin-left: 15%;
    
}

#title-card {
    display: none;
    justify-content:space-evenly;
    align-items: end;
    text-align: center; 
    grid-auto-flow: column;
}

img {
    max-width: 140px;
    height: auto;
    margin-right: 20px;
    
    
}

#movie-title {
    font-size: 35px;
}

.movie-details {
    flex: 1;
}

/* Estilos para el título */
h1 {
    color: gray;
    font-size: 24px;
    font-style: oblique;
    font-family: monospace;
    margin: 0;
}
h2{
    font-style: oblique;
    font-family: monospace;
    margin: 0;
    color: gray;
}

h2 {
    font-size: 18px;
}


h3 {
    color: #333;
    border-bottom: 2px solid #ff5722;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

aside {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    /* float:left; */
}


#history-list {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 182, 46, 0.719);
}

.history {
    text-transform: capitalize;
    
}

.info-section {
    margin-left:15%;

    display: none;
}

/* Estilos para los spans con información */

/* Enlaces */
.history {
    color: #ff5722;
    text-decoration: none;
}

.history:hover {
    text-decoration: underline;
    cursor: pointer;
}

iframe {
    border-radius: 8px;
    justify-self: center;
    box-shadow: 5px 5px 5px slategrey;
    margin-right: 15%;

}

.info {
    font-weight: bold;
    font-size: 25px;
}


@media screen and (max-width: 768px) {
    iframe {
        width: 75%;
        height:fit-content;
    }
}

p{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.history{
    font-weight: bold;
    color: gray;
}
.menu-text{
    font-size: xx-large;
    font-family: monospace;
    font-style: oblique;
}

.summary{
display: flex;
}
main{
    flex-basis: 80%
}
.top-bar, 
ul,
.card-divider,
.card-section{
    background: rgba(255, 182, 46, 0.719) !important;
}

 #title-card {
        width: 100%;
        background: rgba(255, 182, 46, 0.719) !important;
    }


#aside {
        display: none;
    }

.info-section {
        margin: 0;
    }
