/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
/* header {
    
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.dropdown {
    background-color: #333;
}


.search-container {
    display: flex;
    align-items: center;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#search-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Cajas alrededor de elementos */
.movie-info {
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.movie-image img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.movie-details {
    flex: 1;
}

/* Estilos para el título */
h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

/* Estilos para los encabezados (h2) */
h3 {
    color: #333;
    border-bottom: 2px solid #ff5722;
    padding-bottom: 5px;
}

aside {
    display: flex;
    flex-direction: column;
    float: left;
}


#history-list {
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    text-align: center;
}

.history {
    text-transform: capitalize;
    
}

.section {
    margin-left:15%;
}

/* Estilos para los spans con información */
span {
    font-weight: bold;
}

/* Enlaces */
a {
    color: #ff5722;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#youtube-trailer{
display: grid;
}

iframe {
    border-radius: 8px;
    justify-self: center;
    box-shadow: 5px 5px 5px slategrey;
    margin-right: 15%;

}


@media screen and (max-width: 768px) {
    iframe {
        width: 75%;
        height:fit-content;
    }
}